.git/
.vscode/
.idea/

**/venv/
**/.venv/
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.pyo
**/dist/
**/build/

backend/.env
backend/.env.*
backend/firebase-service-account.json

*.zip
*.tar
*.tar.gz
*.log